fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
langchain-ollama
langchain-chroma
chromadb
sentence-transformers
unstructured
networkx
optimum
gitpython
python-dotenv
transformers>=4.40.0
accelerate>=0.26.0
bitsandbytes